@model IEnumerable<Auckland_High_School.ViewModel.ClassViewModel>
@{
    ViewBag.Title = "ClassList";
}

<h2>ClassList</h2>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Subject
        </th>
        <th>
            TeacherName
        </th>
        <th>
            TotalEnrollment
        </th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>
                @s.Name
            </td>
            <td>
                @s.Subject
            </td>
            <td>
                @s.FirstName @s.LastName
            </td>
            <td>
                @s.TotalEnrollment 
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Back To Home Page", "Index", "Home")
