@model IEnumerable<Cobra_onboarding.Models.OrderDetailViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4></h4>
    <hr />
    <ul>
    @foreach (var c in Model)
    {
        <li>@c.customerName</li>
        <li>@c.date</li>
        <li>@c.ProductCount</li>
        foreach (var p in c.Products)
        {
          <li>@p.Name</li>  
          <li>@p.Price</li>
        }
    }
    </ul>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
