@model IEnumerable<WebBlog.Models.Article>

@{ ViewBag.Title = "Browse Articles"; }

@{Html.RenderAction("PersonalPageSideBarTagsMenu", "PersonalPage", new { authorId = Model.ElementAt(0).AuthorId });}
<div id="post_list">

        @foreach (var article in Model)
        {
           <div class="post_item">
               <h3>
                    <a class="titlelnk" href="@Url.Action("Details", "PersonalPage", new { authorId = article.AuthorId, articleId = article.ArticleId })">
                      @article.Title
                    </a>
                </h3>
               <p class="post_item_summary">
                   @article.Body
               </p>
               <div class="post_item_foot"> 
                   <a class="lightblue" href="@Url.Action("Browse", "PersonalPage", new { authorId = article.AuthorId, tagname = "" })">
                       @article.Author.Name
                   </a>Published at @article.PublishTime
               </div>
            </div>
        }
</div>


