@model WebBlog.Models.Author

@{ ViewBag.Title = "Browse Personalpage Articles"; }

@*由于sidebar里的数据是通过db获得的，所以应该用RenderAction而不是partial*@
@{Html.RenderAction("PersonalPageSideBarTagsMenu", "PersonalPage", new { authorId = Model.AuthorId });}


<div id="post_list">
    <h3>
        <em>@Model.Name 's</em> Articles
    </h3>

    @foreach (var article in Model.Articles)
    {
        <div class="post_item">
            <h3>
                <a class="titlelnk" href="@Url.Action("Details", "PersonalPage", new { authorId = article.AuthorId, articleId = article.ArticleId })">
                    @article.Title
                </a>
            </h3>
            <p class="post_item_summary">
                @article.Body
            </p>
            <div class="post_item_foot">
                <a class="lightblue" href="@Url.Action("Browse", "PersonalPage", new { authorId = article.AuthorId, tagname = "" })">
                    @article.Author.Name
                </a>Published at @article.PublishTime
            </div>
        </div>
    }
</div>







