<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="header">
        <p class="h_r_3"></p>
        <p class="h_r_2"></p>
        <p class="h_r_1"></p>
        <div id="header_block">
            <h1 align="center">
                Programming Changing The World!
            </h1>
        </div>
        <p class="h_r_1"></p>
        <p class="h_r_2"></p>
        <p class="h_r_3"></p>
    </div>
    <div id="nav_menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Create New Blog", "Create", "Post")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
    </div>
    @*only used by home controller*@
    @*@{Html.RenderAction("SideBarTagsMenu", "Home");}*@
    <div id="main">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<footer id="footer">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>*@
</body>

</html>
