@model IEnumerable<Auckland_High_School.ViewModel.ClassViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary glyphicon glyphicon-plus" })
</p>
<table class="table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)@Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalEnrollment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)@Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEnrollment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClassId }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClassId }, new { @class = "btn btn-info glyphicon glyphicon-align-justify" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClassId }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back To Home Page", "Index", "Home")
